html
    head
        script(src='../public/lib/angular.js')
        script(src='../public/lib/angular-route.js')
        
        script(src='../public/javascripts/processJson.js')
        
    body 
       div(ng-app='app')
            div(ng-controller='MainCtrl')
               
            
        block content
            

