html
    head
        script(src='../public/lib/angular.js')
        script(src='../public/lib/angular-route.js')
        
        script(src='../public/javascripts/processJson.js')
        
    body 
        div(ng-app='getJson')
            div(ng-controller='controller1')
                div(ng-repeat='post in posts')
                    div(ng-switch-when='text')
                  
                        input(type='text' id='{{post.id}}' ng-model='post.value' placeholder='{{post.placeholder}}')
        block content
            

